body {
    font-family: sans-serif;
}

#navbar {
    width: 100%;
    display: flex;
    background-color: #be3144;
    color: #ebdfe0;
    justify-content: flex-end;
    top: 0;
    left: 0;
    position: fixed;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}

#navbar li {
    margin: 10px 20px;
    font-size: 1.5rem;
}